<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41353583974-9mjlk37vo5bsku3p213i1ji8rn9im4ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41353583974-9mjlk37vo5bsku3p213i1ji8rn9im4ps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>41353583974-th9ti2cvdki48ntj22gdjma9e58lo2e9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFr6LdDX9fuJ8NgW13maH1QVD_1QXja7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>41353583974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attendo.attendance</string>
	<key>PROJECT_ID</key>
	<string>attendify-2e534</string>
	<key>STORAGE_BUCKET</key>
	<string>attendify-2e534.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41353583974:ios:5623fae02c5f2ea7d87ca7</string>
	<key>DATABASE_URL</key>
	<string>https://attendify-2e534-default-rtdb.firebaseio.com</string>
</dict>
</plist>